<h1>Stupid Coaching</h1>

<p>Ask your coach anything</p>


<div class="form-group">
  <form action="/answer" method="get">
    <input type="text" name="questions" placeholder="questions">
    <input type="submit" value="ask">
  </form>
</div>
